.headerContent {
  background-color: #ccc;
  margin-bottom: 50px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mainContent {
  display: flex;
  margin-bottom: 50px;
  &__btns {
    max-width: 200px;
    margin-right: 10%;
  }

  &__newAd {
    margin-bottom: 10px;
  }

  &__discounts {
    text-align: center;
    width: 100%;
    background-color: #ccc;
    vertical-align: middle;
    padding-top: 20px;
  }
}

.ads {
  display: flex;
  justify-content: space-between;
  &__shares {
    width: 250px;
    background-color: #ccc;
    padding: 20px;
  }

  &__list {
    width: 80%;
  }
}