.navbar {
  max-width: 1000px;
  
  &__list {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    position: relative;
  }

  &__item {
    list-style-type: none;
    padding: 10px 0;
  }
  
  &__submenu {
    display: none;
    position: absolute;
    background-color: #fc9803;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    top: 39px;
    left: 0;

    &>li:hover {
      background-color: #347deb;
    }

    &>li {
      padding: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    cursor: pointer;

    &:hover>.navbar__submenu {
      cursor: pointer;
      display: flex;
    }
  }
}

@media (max-width: 375px) {
  .navbar {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    &__list {
      max-width: 200px;
      display: block;
    }

    &__submenu {
      position: relative;
      flex-direction: column;
      max-width: 200px;
    }
  }
}